<div class="center">
  <input type="checkbox" id="play">
    <label for="play" class="play-btn">Login</label>      ////////////////2

  <div class="container"> ////////////////
    <label for="play" class="close-btn fas fa-times" title="close"></label> /////// 2        ////
      <div class="text">
        Account Login                  /////////////////////////////3
      </div>
    <form action="/welcome.html">              ///////////////////3
      <div class="data">  ///////////////////4
        <label>Email / Phone Number</label>   //////5
        <input type="text" required> /////////////5
      </div>
      <div class="data"> //////////////////4
        <label>Password</label> ///////////////5
          <input type="password" required> ///////////////5
      </div>
      
      <div class="btn">          ////4
        <div class="inner"></div>
        <button type="submit">login</button>
      </div>
      <div class="signup-link">
        Not a member? <a href="#">Click to Sign Up</a>
      </div>
    </form>
  <!--Close container div--></div>
<!--Close center div--> </div>